body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.card {
  margin: auto;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #3e3f3e;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

p {
  color: red;
}

.comment-input{
  width: 90%;
  height: 40px;
}
.card-img-top{
  max-width: 600px;
  max-height: 600px;
}

.card-2{
  max-width: 600px;
}

.etiquette{
  background-color: #343a40;
  color: #f1f1f1;
  margin: auto;
}

.topDiv{
  background-color: #343a40;
}

footer{
  text-align: right;
  font-style: italic;
  font-family: monospace;
  position: absolute;
  bottom: 0;
  right: 0;
}